extends ../layout.pug 



block content

    .hideBeforeIntro
        .container
            form(action="/search" method="get")    
                .mb-3        
                    label.form-label(for="q") Titre ou Artiste
                    input.form-control(type="search" name="q" id="q" value=q placeholder="")
                .mb-3 
                    button.btn.btn-secondary(type="submit") Chercher

        .container
            if musics 
                p Musiques détectées
                ul#resultMusic
                    each music in musics
                        li 
                           
                            span.notation #{music.artist.name}
                            span.title #{music.title} 
                           
                            a(href=music.preview) Preview de #{music.title}